<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunxiaoning.xiaoyuanfuwu.api.dao.ChuangyeDao">


    <!--添加招聘兼职信息-->
    <insert id="addChuangye">
      insert into xyfw_chuangye (chuangye_id, chuangye_name, chuangye_create_time, chuangye_con, chuangye_update_time,chuangye_user)
      values (#{chuangye_id},#{chuangye_name}, #{chuangye_create_time}, #{chuangye_con}, #{chuangye_update_time}, #{chuangye_user})
    </insert>

    <!--查询兼职/招聘-->
    <select id="selWork" resultType="hashmap">
        select * from xyfw_chuangye
        order by chuangye_create_time desc
    </select>
    <!--兼职招聘的详情-->
    <select id="findWork" resultType="hashmap">
        select * from xyfw_work
        where 1=1
        <if test="work_id != null and work_id != ''">
            and work_id = #{work_id}
        </if>
        limit 1
    </select>

    <!--报名-->
    <insert id="baoMing">
      insert into xyfw_user_work (user_work_id,user_id, work_id, user_work_state)
      values (#{user_work_id},#{user_id}, #{work_id}, #{user_work_state})
    </insert>
</mapper>

